#picker,
label,
.subvalue {
  text-align: center;
}
#label {
  font-size: 28px;
}
#picker {
  color: #00bcd4;
  font-size: 33px;
}
.subvalue {
  font-size: 20px;
}
#container {
  padding-left: 15px;
}
