// out: wxy-number-picker.css

#picker, label {
  text-align: center;
}

h1{
  font-weight: normal;
}

paper-icon-button /deep/ core-icon[role=img]{
  width: 50px;
  height: 30px;
}

paper-icon-button{
  padding: 5px 0 5px 0;
}

span{
  color: #00bcd4;
  font-size: 33px;
  padding-left: 15px;
}

.subvalue{
  font-size: 20px;
}
